@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
    ViewData["PageClass"] = "admin-index";
}

<component type="typeof(WorkerQueueCard)"
           render-mode="Static"
           param-Model="Model" />

<component type="typeof(CatalogScansCard)"
           render-mode="Static"
           param-Model="Model"
           param-TempData="TempData"
           param-Url="Url" />

<h3>Catalog scan drivers</h3>

@foreach (var catalogScan in Model.CatalogScans)
{
    <component type="typeof(CatalogScanCard)"
               render-mode="Static"
               param-Model="catalogScan"
               param-TempData="TempData"
               param-Url="Url" />
}

<h3>Timers</h3>

@foreach (var timerState in Model.TimerStates)
{
    <component type="typeof(TimerCard)"
               render-mode="Static"
               param-Model="@timerState"
               param-Url="Url" />
}
