<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="NuGetPackageExplorer" value="https://pkgs.dev.azure.com/dotnet/NuGetPackageExplorer/_packaging/BuildPackages/nuget/v3/index.json" />
    <!-- Used by Azure Functions host: https://github.com/Azure/azure-functions-host/blob/dev/NuGet.config -->
    <add key="Microsoft.Azure.Functions.PowerShellWorker" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/Microsoft.Azure.Functions.PowerShellWorker/nuget/v3/index.json" />
    <add key="AzureFunctions@internalrelease" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctions%40internalrelease/nuget/v3/index.json" />
    <add key="AzureFunctionsRelease" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctionsRelease/nuget/v3/index.json" />
    <add key="AzureFunctionsPreRelease" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctionsPreRelease/nuget/v3/index.json" />
    <add key="AzureFunctionsTempStaging" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctionsTempStaging/nuget/v3/index.json" />
  </packageSources>
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="NuGet.org">
      <package pattern="AngleSharp" />
      <package pattern="AppInsights.WindowsDesktop" />
      <package pattern="Autofac" />
      <package pattern="Azure.*" />
      <package pattern="BenchmarkDotNet" />
      <package pattern="BenchmarkDotNet.Annotations" />
      <package pattern="Ben.StringIntern" />
      <package pattern="BuildBundlerMinifier" />
      <package pattern="Castle.Core" />
      <package pattern="CommunityToolkit.HighPerformance" />
      <package pattern="DiffPlex" />
      <package pattern="Google.*" />
      <package pattern="Grpc.*" />
      <package pattern="Humanizer.Core" />
      <package pattern="Knapcode.Delta.Common" />
      <package pattern="Knapcode.MiniZip" />
      <package pattern="Knapcode.TableDelta" />
      <package pattern="Magick.NET-Q16-AnyCPU" />
      <package pattern="Magick.NET.Core" />
      <package pattern="Markdig.Signed" />
      <package pattern="McMaster.Extensions.CommandLineUtils" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="MessagePack" />
      <package pattern="MessagePackAnalyzer" />
      <package pattern="Microsoft.*" />
      <package pattern="Mono.Posix.NETStandard" />
      <package pattern="Moq" />
      <package pattern="NCrontab.Signed" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json.Bson" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Nito.*" />
      <package pattern="NuGet.*" />
      <package pattern="PeNet.Asn1" />
      <package pattern="PeNet" />
      <package pattern="Perfolizer" />
      <package pattern="Polly.Extensions.Http" />
      <package pattern="Polly" />
      <package pattern="protobuf-net" />
      <package pattern="runtime.*" />
      <package pattern="SharpCompress" />
      <package pattern="StyleCop.Analyzers.Unstable" />
      <package pattern="StyleCop.Analyzers" />
      <package pattern="Sylvan.Data.Csv" />
      <package pattern="System.*" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="xunit.*" />
      <package pattern="xunit" />
      <package pattern="Yarp.ReverseProxy" />
      <package pattern="ZstdSharp.Port" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.DiaSymReader.Converter" />
      <package pattern="Microsoft.FileFormats" />
      <package pattern="Microsoft.SymbolStore" />
    </packageSource>
    <packageSource key="NuGetPackageExplorer">
      <package pattern="NuGetPackageExplorer.Core" />
      <package pattern="NuGetPackageExplorer.Types" />
    </packageSource>
    <packageSource key="Microsoft.Azure.Functions.PowerShellWorker">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="AzureFunctions@internalrelease">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="AzureFunctionsRelease">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="AzureFunctionsPreRelease">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="AzureFunctionsTempStaging">
      <package pattern="Microsoft.*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
