<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="azure-sdk-for-net" value="https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-net/nuget/v3/index.json" />
    <add key="NuGetPackageExplorer" value="https://pkgs.dev.azure.com/dotnet/NuGetPackageExplorer/_packaging/BuildPackages/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key = "NuGet.org">
      <package pattern="anglesharp" />
      <package pattern="appinsights.windowsdesktop" />
      <package pattern="azure.core" />
      <package pattern="azure.data.tables" />
      <package pattern="azure.identity" />
      <package pattern="azure.security.keyvault.certificates" />
      <package pattern="azure.security.keyvault.secrets" />
      <package pattern="azure.storage.blobs" />
      <package pattern="buildbundlerminifier" />
      <package pattern="castle.core" />
      <package pattern="diffplex" />
      <package pattern="humanizer.core" />
      <package pattern="knapcode.delta.common" />
      <package pattern="knapcode.minizip" />
      <package pattern="knapcode.tabledelta" />
      <package pattern="magick.net.core" />
      <package pattern="magick.net-q16-anycpu" />
      <package pattern="markdig.signed" />
      <package pattern="mcmaster.extensions.commandlineutils" />
      <package pattern="messagepack" />
      <package pattern="messagepack.annotations" />
      <package pattern="messagepackanalyzer" />
      <package pattern="microsoft.*" />
      <package pattern="moq" />
      <package pattern="ncrontab.signed" />
      <package pattern="netstandard.library" />
      <package pattern="newtonsoft.json" />
      <package pattern="newtonsoft.json.bson" />
      <package pattern="nito.asyncex" />
      <package pattern="nito.asyncex.context" />
      <package pattern="nito.asyncex.coordination" />
      <package pattern="nito.asyncex.interop.waithandles" />
      <package pattern="nito.asyncex.oop" />
      <package pattern="nito.asyncex.tasks" />
      <package pattern="nito.cancellation" />
      <package pattern="nito.collections.deque" />
      <package pattern="nito.disposables" />
      <package pattern="nuget.commands" />
      <package pattern="nuget.common" />
      <package pattern="nuget.configuration" />
      <package pattern="nuget.credentials" />
      <package pattern="nuget.dependencyresolver.core" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.librarymodel" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.projectmodel" />
      <package pattern="nuget.protocol" />
      <package pattern="nuget.versioning" />
      <package pattern="penet" />
      <package pattern="penet.asn1" />
      <package pattern="runtime.*" />
      <package pattern="sylvan.data.csv" />
      <package pattern="system.*" />
      <package pattern="windowsazure.storage" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
    <packageSource key = "dotnet-tools">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key = "azure-sdk-for-net">
      <package pattern="azure.core" />
      <package pattern="azure.identity" />
      <package pattern="azure.security.keyvault.secrets" />
      <package pattern="azure.storage.common" />
      <package pattern="azure.storage.queues" />
      <package pattern="microsoft.*" />
      <package pattern="system.*" />
    </packageSource>
    <packageSource key = "NuGetPackageExplorer">
      <package pattern="nugetpackageexplorer.core" />
      <package pattern="nugetpackageexplorer.types" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
      <clear />
  </disabledPackageSources>
</configuration>
