<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="NuGetPackageExplorer" value="https://pkgs.dev.azure.com/dotnet/NuGetPackageExplorer/_packaging/BuildPackages/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="NuGet.org">
      <package pattern="AngleSharp" />
      <package pattern="AppInsights.WindowsDesktop" />
      <package pattern="Azure.*" />
      <package pattern="Ben.StringIntern" />
      <package pattern="BuildBundlerMinifier" />
      <package pattern="Castle.Core" />
      <package pattern="CommunityToolkit.HighPerformance" />
      <package pattern="DiffPlex" />
      <package pattern="Google.*" />
      <package pattern="Grpc.*" />
      <package pattern="Humanizer.Core" />
      <package pattern="Knapcode.Delta.Common" />
      <package pattern="Knapcode.MiniZip" />
      <package pattern="Knapcode.TableDelta" />
      <package pattern="Magick.NET-Q16-AnyCPU" />
      <package pattern="Magick.NET.Core" />
      <package pattern="Markdig.Signed" />
      <package pattern="McMaster.Extensions.CommandLineUtils" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="MessagePack" />
      <package pattern="MessagePackAnalyzer" />
      <package pattern="Microsoft.*" />
      <package pattern="Moq" />
      <package pattern="NCrontab.Signed" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json.Bson" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Nito.*" />
      <package pattern="NuGet.*" />
      <package pattern="PeNet.Asn1" />
      <package pattern="PeNet" />
      <package pattern="runtime.*" />
      <package pattern="Sylvan.Data.Csv" />
      <package pattern="System.*" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="xunit.*" />
      <package pattern="xunit" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.DiaSymReader.Converter" />
      <package pattern="Microsoft.FileFormats" />
      <package pattern="Microsoft.SymbolStore" />
    </packageSource>
    <packageSource key="NuGetPackageExplorer">
      <package pattern="NuGetPackageExplorer.Core" />
      <package pattern="NuGetPackageExplorer.Types" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
