footer {
    line-height: 60px;
}

.nav-item .nav-link {
    padding: 0.5rem 0.75rem !important;
}

.smaller-text {
    font-size: 0.9rem;
}

/* Admin index */
.admin-index h3 {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px dotted gray;
    text-align: center;
}

.admin-index .table {
    margin-bottom: 0.5rem;
}

.admin-index .table td,
.admin-index .table th {
    padding: 0.5rem;
}

.admin-index .panel-title {
    font-weight: bold;
}

.admin-index .card-header .bi {
    display: inline-flex;
    font-size: 1rem;
}

.admin-index .card-header h4 {
    margin-bottom: 0;
}

.admin-index .card .list-group-item,
.admin-index .card-body,
.admin-index .card-header {
    padding: 0.5rem;
}

.admin-index .card-header button {
    padding: .125rem;
}

.admin-index .card-header .btn-link {
    text-decoration: none;
    color: black;
}

.admin-index [data-toggle="collapse"].card-header {
    border-bottom-width: 0;
}

.admin-index [data-toggle="collapse"] .bi::before {
    content: "\f282";
}

.admin-index [data-toggle="collapse"].collapsed .bi::before {
    content: "\f285";
}

.admin-index .card-body .form-group:last-child {
    margin-bottom: 0;
}

.admin-index label {
    user-select: none;
}
