footer {
    line-height: 60px;
}

.table-report tr th:first-child {
    text-align: right;
    width: 11rem;
}

#report .table-report thead tr:first-child th {
    border-bottom-width: 0;
}

#urls table tr td:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 600px;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.card .list-group-item, .card-body, .card-header {
    padding: 0.75rem;
}

.panel-title {
    font-weight: bold;
}

.nav-item .nav-link {
    padding: 0.5rem 0.75rem !important;
}

.smaller-text {
    font-size: 0.9rem;
}

.card-header .bi {
    display: inline-flex;
    font-size: 1rem;
}

/*
.card .show {
    border-top: 1px solid rgba(0,0,0,.125);
}
*/

[data-toggle="collapse"].card-header {
    border-bottom-width: 0;
}

[data-toggle="collapse"] .bi::before {
    content: "\f282";
}

[data-toggle="collapse"].collapsed .bi::before {
    content: "\f285";
}
