@using NuGet.Insights.Worker.KustoIngestion;
@using NuGet.Insights.Worker.TimedReprocess
@using NuGet.Insights.Worker.Workflow;
@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
    ViewData["PageClass"] = "admin-index";

    var isWorkflowEnabled = Model.TimerStates.Single(x => x.Name == WorkflowTimer.TimerName).IsEnabledInConfig;
    var isKustoIngestionEnabled = Model.TimerStates.Single(x => x.Name == KustoIngestionTimer.TimerName).IsEnabledInConfig;
    var isTimedReprocessEnabled = Model.TimerStates.Single(x => x.Name == TimedReprocessTimer.TimerName).IsEnabledInConfig;
}

<component type="typeof(WorkerQueueCard)"
           render-mode="Static"
           param-Model="Model.WorkQueue"
           param-TempData="TempData"
           param-Url="Url" />

<component type="typeof(WorkerQueueCard)"
           render-mode="Static"
           param-Model="Model.ExpandQueue"
           param-TempData="TempData"
           param-Url="Url" />

<component type="typeof(CatalogScansCard)"
           render-mode="Static"
           param-Model="Model"
           param-TempData="TempData"
           param-Url="Url" />

<h3>Catalog scan drivers</h3>

@foreach (var catalogScan in Model.CatalogScans)
{
    <component type="typeof(CatalogScanCard)"
               render-mode="Static"
               param-Model="catalogScan"
               param-TempData="TempData"
               param-Url="Url" />
}

<h3>Timers</h3>

@foreach (var timerState in Model.TimerStates)
{
    <component type="typeof(TimerCard)"
               render-mode="Static"
               param-Model="@timerState"
               param-TempData="TempData"
               param-Url="Url" />
}

@if (isWorkflowEnabled || isTimedReprocessEnabled || isKustoIngestionEnabled)
{
    <h3>Timer history</h3>

    @if (isWorkflowEnabled)
    {
        <component type="typeof(WorkflowRunsCard)"
                   render-mode="Static"
                   param-Model="Model.WorkflowRuns" />
    }

    @if (isTimedReprocessEnabled)
    {
        <component type="typeof(TimedReprocessRunsCard)"
                   render-mode="Static"
                   param-Model="Model.TimedReprocess" />
    }

    @if (isKustoIngestionEnabled)
    {
        <component type="typeof(KustoIngestionsCard)"
                   render-mode="Static"
                   param-Model="Model.KustoIngestions" />
    }
}
